<div class="container-fluid text-center" style="width: 30%;">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          @if((email?.hasError("required") || email?.hasError("email")) && email?.touched) {
            <div class="text-danger">
                Correo inválido
            </div>
        }        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          @if(password?.hasError("required") && password?.touched) {
            <div class="text-danger">
                Contraseña requerida
            </div>                
        }
        @if(password?.hasError("minlength") && password?.touched) {
            <div class="text-danger">
                La contraseña debe tener al menos 6 caracteres
            </div>
        }
        </div>
        @if(showRegister){
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">            
                @if(confirmPassword?.hasError("confirmPassword") && confirmPassword?.touched) {
                    <div class="text-danger">
                        Las contraseñas no coinciden
                    </div>
                }
            </div>            
        }
        <button type="submit" class="btn btn-primary">
            @if (showRegister) {
                Registrarse
            }@else {
                Iniciar sesión
            }
        </button>
        <br>
        <br>
        <button type="button" class="btn btn-success" (click)="registerWithGoogle()">
            <div class="d-flex justify-content-center align-items-center">
                Iniciar sesión con Google   
                <a class="bi bi-google" style="padding: 5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                      </svg>
                </a> 
            </div>
        </button>
        <br>
        <br>
        <span> @if(showRegister){
            ¿Ya tienes una cuenta? 
            <a class="link-primary" (click)="toggleRegister()">Inicia sesión</a>
        } @else {
            No tienes una cuenta? 
            <a class="link-primary" (click)="toggleRegister()">Regístrate</a>
        }</span>
        @if(errorMessage){
            <div>
                <span class="text-danger">{{errorMessage}}</span>
            </div>
        }

      </form>
</div>
