<div class="container-fluid text-center">
    <h1>Cursos</h1>
    <button type="button" class="btn btn-primary" routerLink="/curso-from">Agreagr un curso</button>
    <div class="row justify-content-center">
        @for (curso of cursos; track curso.id) {
            <div class="col-md-4 d-flex align-items-stretch" style="padding: 30px;" >
                <div class="card m-2" style="width: 100%; min-height: 100%;" (click)="goToCurso(curso.id)">
                    <img [src]="curso.image" alt="{{ curso.title }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ curso.title }}</h5>
                        <p class="card-text">${{ curso.price }}</p>
                        <div class="mt-auto">
                            <a (click)="addToCart($event, curso)" class="btn btn-primary w-100">Añadir</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
