<div>
    <div style="background-color:   #062d55; color: rgb(255, 255, 255); padding: 20px; text-align: center;">
        <h1 style="color:  #fbb304;">Academia de Programación</h1>
        <p>Aprende los mejores lenguajes de programación de manera práctica y efectiva</p>
      </div>
    
      <div style="padding: 40px; text-align: center;">
        <h2 style="font-size: 2rem;color:  #fbb304;">Bienvenido a nuestra plataforma</h2>
        <p style="font-size: 1.2rem; ">Aquí podrás aprender desde los fundamentos hasta cursos avanzados en diferentes lenguajes de programación.</p>
    
        <div style="margin-top: 40px;">
          <p style="font-size: 1.5rem; font-weight: bold; color:  #fbb304;">Cursos Disponibles:</p>
          <ul style="list-style: none; padding: 0; margin-top: 10px;">
            <li style="font-size: 1.2rem; margin-bottom: 10px;">- Curso de JavaScript</li>
            <li style="font-size: 1.2rem; margin-bottom: 10px;">- Curso de Python</li>
            <li style="font-size: 1.2rem; margin-bottom: 10px;">- Curso de Java</li>
            <li style="font-size: 1.2rem; margin-bottom: 10px;">- Curso de C++</li>
          </ul>
        </div>
      </div>
    
</div>